/* 
.ticker {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #222;
  color: #fff;
  overflow: hidden;
  height: 40px;
  display: flex;
  align-items: center;
  z-index: 1000;
  font-size: 1rem;
  padding-left: 10px;
}

.ticker__list {
  display: inline-block;
  white-space: nowrap;
  animation: scroll 20s linear infinite;
}

.ticker__item {
  display: inline-block;
  padding: 0 50px;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
 */

.ticker {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #222;
  color: #fff;
  overflow: hidden;
  height: 40px;
  display: flex;
  align-items: center;
  z-index: 1000;
  font-size: 1rem;
}

.ticker__list {
  display: inline-block;
  white-space: nowrap;
  animation: scroll 20s linear infinite;
}

.ticker__item {
  display: inline-block;
  padding: 0 50px;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
